language: python
branches:
  only:
    - master
python:
    - 3.6
install:
    - pip install -r docs/requirements.txt
script:
    - skip # Travis requires a `script` property, but we do not need it
stages:
    - build and test
    - deploy
jobs:
  include:
    - stage: build and test # This stage builds and lints in parallel
      name: Build
      script: sphinx-build -b html docs _build/html # build the docs
    - stage: deploy
      name: Deploy to GitHub Pages
      script: sphinx-build -b html docs _build/html
      deploy:
        provider: pages # deploy on github pages
        skip_cleanup: true
        repo: $GH_REPO
        github_token: $GH_TOKEN_BB
        on:
          branch: master
        local_dir: _build/html/

